{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1 class="my-5">Mes projets : </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom du project</th>
                <th>Description</th>
                <th>Date de creation</th>
                <th>Deadline</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.dateCreation ? project.dateCreation|date('Y-m-d') : '' }}</td>
                <td>{{ project.deadline ? project.deadline|date('Y-m-d') : '' }}</td>
                <td>
                    <a class ="btn btn-primary" href="{{ path('project_show', {'id': project.id}) }}">Infos</a>
                    <a class ="btn btn-primary" href="{{ path('project_edit', {'id': project.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class ="btn btn-info" href="{{ path('project_new') }}">Nouveau projet</a>
{% endblock %}
